.toast-dev-form{
  align-items     : center;
  background-color: #272727;
  display         : flex;
  justify-content : center;
  min-height      : 100vh;
  min-width       : 100vw;

  & > div{
    background-color: $c-light;
    border-radius   : 0.5em;
    box-shadow      : 0 3px 1px 0 rgba(0, 0, 0, 0.25);
    padding         : $spacing-small;
  }

  button{
    width: 100%;
  }
  
}