////////////
// COLORS //
////////////

//--------------------------------------//
// Determines if color is light or dark
// @param $_hex Hex colour
//--
@function is-light($_hex){
  $_red      : red(rgba($_hex, 1));
  $_green    : green(rgba($_hex, 1));
  $_blue     : blue(rgba($_hex, 1));
  $_lightness: ($_red * 0.2126 + $_green * 0.7152 + $_blue * 0.0722) / 255;

  @return $_lightness > 0.6;
}
