///////////
// MEDIA //
///////////

//---------------------------------------//
// Creates media query breakpoint string
// @param  $type  Media type
// @param  $min   Media min-width
// @param  $max   Media max-width
// @param  $min-y Media min-height
// @param  $max-y Media max-height
//--
@function new-breakpoint($type: 'screen', $min: null, $max: null, $min-y: null, $max-y: null){
  $breakpoint: $type;

  @if ($min != null){ $breakpoint: append($breakpoint, 'and (min-width: ' + $min + ')', space); }
  @if ($max != null){ $breakpoint: append($breakpoint, ' and (max-width: ' + $max + ')', space); }
  @if ($min-y != null){ $breakpoint: append($breakpoint, ' and (min-height: ' + $min-y + ')', space); }
  @if ($max-y != null){ $breakpoint: append($breakpoint, ' and (max-height: ' + $max-y + ')', space); }

  @return $breakpoint;
}
