
//-----------------------------------//
// Outputs a selector for text types
// @param $_types
//--
@function text-inputs($_types: all, $_selector: input){
  $return: ();

  $all-text-input-types:
    text
    password
    date
    datetime
    datetime-local
    month
    week
    email
    number
    search
    tel
    time
    url
    color
    textarea;

  @if($_types == all){ $_types: $all-text-input-types; }

  @each $type in $_types{
    @if($type == textarea){
      @if($_selector == input){
        $return: append($return, unquote('#{$type}'), comma);
      }@else{
        $return: append($return, unquote('#{$type}#{$_selector}'), comma);
      }
    }@else{
      $return: append($return, unquote('#{$_selector}[type="#{$type}"]'), comma);
    }
  }

  @return $return;
}

@function assign-inputs($inputs, $pseudo: null) {
  $list: ();

  @each $input in $inputs {
    $input: unquote($input);
    $input: if($pseudo, $input + ":" + $pseudo, $input);
    $list: append($list, $input, comma);
  }

  @return $list;
}
