///////////////
// UTILITIES //
///////////////

//-----------------------------------------//
//-- List contains one or more variables --//
//-----------------------------------------//
@function contains($_list, $_values...){
  @each $value in $_values{
    @if type-of(index($_list, $value)) != "number"{
      @return false;
    }
  }

  @return true;
}


//------------------//
//-- Numeric test --//
//------------------//
@function is-number($value) {
  @return contains("0" "1" "2" "3" "4" "5" "6" "7" "8" "9" 0 1 2 3 4 5 6 7 8 9, $value);
}


// Not function for Libsass compatibility
// https://github.com/sass/libsass/issues/368
@function is-not($value){
  @return if($value, false, true);
}


// Checks if a number is even
@function is-even($int){
  @return $int % 2 == 0;
}


// Checks if an element belongs to a list or not
@function belongs-to($tested-item, $list){
  @return is-not(not-belongs-to($tested-item, $list));
}


@function not-belongs-to($tested-item, $list){
  @return is-not(index($list, $tested-item));
}


@function unpack($shorthand) {
  @if length($shorthand) == 1 {
    @return nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1) nth($shorthand, 1);
  } @else if length($shorthand) == 2 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 1) nth($shorthand, 2);
  } @else if length($shorthand) == 3 {
    @return nth($shorthand, 1) nth($shorthand, 2) nth($shorthand, 3) nth($shorthand, 2);
  } @else {
    @return $shorthand;
  }
}

@function collapse-directionals($vals) {
  $output: null;

  $a: nth($vals, 1);
  $b: if(length($vals) < 2, $a, nth($vals, 2));
  $c: if(length($vals) < 3, $a, nth($vals, 3));
  $d: if(length($vals) < 2, $a, nth($vals, if(length($vals) < 4, 2, 4)));

  @if $a == 0 { $a: 0; }
  @if $b == 0 { $b: 0; }
  @if $c == 0 { $c: 0; }
  @if $d == 0 { $d: 0; }

  @if $a == $b and $a == $c and $a == $d { $output: $a;          }
  @else if $a == $c and $b == $d         { $output: $a $b;       }
  @else if $b == $d                      { $output: $a $b $c;    }
  @else                                  { $output: $a $b $c $d; }

  @return $output;
}