.carousel{
  align-items: stretch;
  display    : flex;
  left       : 0;
  position   : relative;
  transition : left $transition-short;

  &--spacing{
    margin: 0 (-$spacing-small);

    & > *{
      padding: 0 $spacing-small;
    }

  }

  &.center{
    align-items: center;
  }

}