@import '../../../lib/scss/main.scss';

.container{

  @include media($tablet-screen-up){
    display  : flex;
    flex-flow: row wrap;

    a{
      flex: 1 0 25%;

      &[data-lightbox='video']{
        flex: 1 0 50%;
      }

    }

  }

  img{
    width: 100%;
  }

}