.toast{

  & > div{
    display  : inline-block;
    margin   : $spacing-small / 4;
    max-width: 100%;

    @include media($tablet-screen-up){
      max-width: rem(320);
    }

    & > p{
      border-radius: 0.5em;
      font-size    : $base-font-size * 0.6;
      margin       : 0;
      padding      : ($spacing-small / 2);
      word-wrap    : break-word;
      box-shadow   : 0 3px 1px 0 rgba(0, 0, 0, 0.25);

      @include media($tablet-screen-up){
        font-size  : $base-font-size * 0.8;
        font-weight: $font-weight-bold;
        padding    : $spacing-small;
      }

    }

  }

  &__stage{
    @include position(fixed, $spacing-small / 2 $spacing-small / 2 $spacing-small / 2 $spacing-small / 2);
    align-content : flex-start;
    align-items   : flex-start;
    display       : flex;
    flex-direction: column-reverse;
    flex-wrap     : wrap-reverse;
    pointer-events: none;
    z-index       : 100;

    &.top{
      flex-direction: column;
    }

    &.left{
      flex-wrap: wrap;
    }

    &.center{
      align-content: center;
      align-items  : center;
      flex-wrap    : wrap;
    }

  }

}