.carousel-item{
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  transition         : opacity $transition-short ease-in;

  &.inactive{
    opacity: 0;
  }

}