.carousel:not(.carousel--spacing) .carousel-item{
  position: relative;
  
  &:before{
    content    : '';
    display    : block;
    padding-top: 100%;
    width      : 100%;
  }

  & > *{
    @include position(absolute, 0 0 0 0);
  }

}

.carousel-item--dev{
  background-color: $c-light;
  border          : rem(1) solid #efefef;
  border-radius   : 0.5em;
  box-shadow      : 0 3px 1px 0 rgba(0, 0, 0, 0.25);
  padding         : $spacing-small;
}