.arrow{
  opacity: 0.5;
  transition: opacity $transition-short ease-in-out;

  &:before{
    @include fa-pseudo($fa-var-angle-left);
    cursor        : pointer;
    font-size     : rem(40);
    line-height   : 1;
    pointer-events: auto;
    vertical-align: top;
  }

  &:hover,
  &:focus{
    opacity: 1;
  }

  &.left:before{
    @include fa-pseudo($fa-var-angle-left);
  }

  &.right:before{
    @include fa-pseudo($fa-var-angle-right);
  }

}