@charset 'UTF-8';

@import './helpers';

body {
  background: #1d1f20;

  *{
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
  }

  .text-wrap{
    display : block;
    margin  : 0;
    position: relative;
    width   : 100%;

    span{
      @include position(absolute, 0 0 0 0);
      background-position: center;
      background-repeat  : no-repeat;
      background-size    : cover;
      opacity            : 0.3;
      z-index            : 0;
    }

    svg{
      cursor        : pointer;
      display       : block;
      font          : bold rem(50) sans-serif;
      // font-size     : rem(50);
      height        : 50vh;
      position      : relative;
      position      : relative;
      text-transform: uppercase;
      width         : 100%;
      z-index       : 1;

      @include media($tablet-screen-up){
        font-size: rem(80);
        height   : 80vh;
      }

    }

  }

}