.lightbox.container{
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  position           : fixed;
  user-select        : none;
  will-change        : transform width height;
  z-index            : 10;

  &.hide--image{
    opacity: 0;
  }

}