.lightbox.cover{
  background-color: #000;
  bottom          : 0;
  left            : 0;
  opacity         : 0;
  position        : fixed;
  right           : 0;
  top             : 0;
  transition      : opacity $transition-short ease-in;
  z-index         : 10;

  &.active{
    opacity: 0.9;
  }

}