///////////////
// UTILITIES //
///////////////

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}


@mixin ellipsis($width: 100%) {
  display: inline-block;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin hide-text(){
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

@mixin directional-property($pre, $suf, $vals) {
  // Property Names
  $top:    $pre + "-top"    + if($suf, "-#{$suf}", "");
  $bottom: $pre + "-bottom" + if($suf, "-#{$suf}", "");
  $left:   $pre + "-left"   + if($suf, "-#{$suf}", "");
  $right:  $pre + "-right"  + if($suf, "-#{$suf}", "");
  $all:    $pre +             if($suf, "-#{$suf}", "");

  $vals: collapse-directionals($vals);

  @if contains-falsy($vals) {
    @if nth($vals, 1) { #{$top}: nth($vals, 1); }

    @if length($vals) == 1 {
      @if nth($vals, 1) { #{$right}: nth($vals, 1); }
    } @else {
      @if nth($vals, 2) { #{$right}: nth($vals, 2); }
    }

    @if length($vals) == 2 {
      @if nth($vals, 1) { #{$bottom}: nth($vals, 1); }
      @if nth($vals, 2) { #{$left}:   nth($vals, 2); }
    } @else if length($vals) == 3 {
      @if nth($vals, 3) { #{$bottom}: nth($vals, 3); }
      @if nth($vals, 2) { #{$left}:   nth($vals, 2); }
    } @else if length($vals) == 4 {
      @if nth($vals, 3) { #{$bottom}: nth($vals, 3); }
      @if nth($vals, 4) { #{$left}:   nth($vals, 4); }
    }
  } @else {
    #{$all}: $vals;
  }
}


@mixin margin($vals...) {
  @include directional-property(margin, false, $vals...);
}

@mixin padding($vals...) {
  @include directional-property(padding, false, $vals...);
}


@mixin position($position: relative, $coordinates: null null null null) {
  @if type-of($position) == list {
    $coordinates: $position;
    $position: relative;
  }

  $coordinates: unpack($coordinates);

  $offsets: (
    top:    nth($coordinates, 1),
    right:  nth($coordinates, 2),
    bottom: nth($coordinates, 3),
    left:   nth($coordinates, 4)
  );

  position: $position;

  @each $offset, $value in $offsets {
    @if is-length($value) {
      #{$offset}: $value;
    }
  }
}


//--------------------------------//
// media - Injects a media query
// @param {String} $media-query Media query string
//--
@mixin media($media-query: new-breakpoint()){
  @media #{$media-query}{
    @content;
  }
}

@mixin fa-pseudo($icon-var){
  content    : $icon-var;
  font-family: $fa-font-name;
}


@mixin create-columns($prefix, $padding){
  $i: $column-count;

  #{$column-class}{
    padding-left: $padding;
    padding-right: $padding;

    @while $i > 0{
      &.#{$prefix}-#{$i}{
        $col-percentage: ((100% / $column-count) * $i);
        width: $col-percentage;
      }
      $i: $i - 1;
    }

  }

}

@mixin create-grid($prefix, $padding){
  #{$row-class}{
    @include create-columns($prefix, $padding);
  }
}
