////////////
// COLORS //
////////////

//-----------//
//-- Basic --//
//-----------//
$c-dark  : #353535;
$c-light : #fff;
$c-pale  : #e5e5e5;
$c-pale-l: #f3f3f3;
$c-mid   : #a4a6a9;
$c-black : #000;


//--------------------//
//-- Primary colors --//
//--------------------//
$c-1      : #00a2ff;


//----------------------//
//    Named Colours     //
//----------------------//
$c-primary: $c-1;
$c-blue   : $c-1;


//---------------------//
//-- Feedback colors --//
//---------------------//
$c-error  : #db4c5f;
$c-success: #5aad71;
$c-alert  : #ff8c00;
$c-info   : #3b9dd6;


//-----------------//
//-- Adjustments --//
//-----------------//
$c-adjust-1: 15%;
$c-adjust-2: 25%;


//--------------------//
//-- Content colors --//
//--------------------//
$c-background: $c-light;
$c-bodytext  : $c-dark;
$c-links     : $c-1;
$c-separators: $c-pale;
$c-panels    : $c-pale-l;


//------------------//
//-- Brand colors --//
//------------------//
$c-facebook   : #4d70a8;
$c-google-plus: #e3401d;
$c-linkedin   : #0073b2;
$c-pinterest  : #cb3737;
$c-twitter    : #00bbf2;
