///////////
// FONTS //
///////////

//-----------//
//-- Sizes --//
//-----------//
$font-size-body   : rem(16);
$font-size-subtext: rem(14);
$font-size-h1     : $font-size-body * 2.5;
$font-size-h2     : $font-size-body * 1.75;
$font-size-h3     : $font-size-body * 1.5;
$font-size-h4     : $font-size-body * 1.25;
$font-size-h5     : $font-size-body * 1;
$font-size-h6     : $font-size-body * 0.9;


//--------------//
//-- Families --//
//--------------//
$font-sans: 'Roboto', sans-serif;


//-------------//
//-- Weights --//
//-------------//
$font-weight-black  : 900;
$font-weight-bold   : 700;
$font-weight-regular: 400;
$font-weight-light  : 300;


//------------------//
//-- Line Heights --//
//------------------//
$line-height-body   : 1.6;
$line-height-heading: 1.2;