///////////
// MEDIA //
///////////

//-----------//
//-- Media --//
//-----------//
$medium-screen: 640px;
$tablet-screen: 768px;
$large-screen : 1024px;
$xlarge-screen: 1280px;


//-------------------//
//-- Media Queries --//
//-------------------//
$medium-screen-up  : new-breakpoint($min: $medium-screen + 1);
$tablet-screen-up  : new-breakpoint($min: $tablet-screen + 1);
$large-screen-up   : new-breakpoint($min: $large-screen + 1);
$xlarge-screen-up  : new-breakpoint($min: $xlarge-screen + 1);

$small-screen-only : new-breakpoint($max: $medium-screen);
$medium-screen-only: new-breakpoint($min: $medium-screen + 1, $max: $large-screen);
$tablet-screen-only: new-breakpoint($min: $tablet-screen + 1, $max: $xlarge-screen);
$large-screen-only : new-breakpoint($min: $large-screen + 1, $max: $xlarge-screen);

$touch-screen      : new-breakpoint($max: $large-screen);
