//////////////
// SETTINGS //
//////////////

//----------//
//-- Core --//
//----------//
$em-base     : $em-base; // Set in helpers/variables/_core.scss
$rem-base    : $em-base;
$spacing-base: modular-scale(1, rem($em-base), $golden);
$max-width   : rem(1280);


//---------------//
//-- Animation --//
//---------------//
$animation-modifier: 1;

$transition-short  : 300ms * $animation-modifier;
$transition-regular: 600ms * $animation-modifier;
$transition-long   : 1000ms * $animation-modifier;

$transition-timing-button   : ease-in-out;
$transition-timing-color    : ease-out;
$transition-timing-transform: cubic-bezier(0.9, 0.01, 0.15, 1);


//----------------//
//-- Typography --//
//----------------//
$base-font-family     : $font-sans;
$heading-font-family  : $font-sans;

$base-font-size       : $font-size-body;

$base-line-height     : $line-height-body;
$heading-line-height  : $line-height-heading;

$base-background-color: $c-background;
$base-font-color      : $c-bodytext;
$action-color         : $c-links;


//------------//
//-- Sizing --//
//------------//
$base-border-radius: rem(3);
$base-spacing      : $spacing-base;
$small-spacing     : $base-spacing / 2;
$base-z-index      : $z-0;


//-------------//
//-- Borders --//
//-------------//
$base-border-color: $c-separators;
$base-border      : rem(1) solid $base-border-color;
