.toast{

  &--error p{
    background-color: $c-error;
    color           : $c-light;
  }

  &--success p{
    background-color: $c-success;
    color           : $c-light;
  }

  &--info p{
    background-color: $c-info;
    color           : $c-light;
  }

  &--alert p{
    background-color: $c-alert;
    color           : $c-light;
  }

  &.dismissible{

    p{
      padding-right: rem(20);
      padding-top: rem(13);
      position: relative;

      &:after{
        @include position(absolute, rem(5) rem(5) null null);
        @include fa-pseudo($fa-var-times);
        line-height   : 1;
        pointer-events: auto;
        cursor: pointer;
      }

    }

  }

}