a[data-lightbox]{
  color  : $c-light;
  display: block;

  &:hover,
  &:focus{
    color: $c-light;
  }

  &[data-loading]{
    @extend %spinner;
    position: relative;
  }

  img{
    display: block;
  }

}