$small-size  : rem(30);
$regular-size: rem(40);
$border-size : rem(3);

%spinner{

  &:before{
    animation       : spin-clockwise $transition-long infinite linear;
    border          : $border-size solid currentColor;
    border-radius   : 50%;
    border-right    : $border-size solid transparent;
    content         : '';
    height          : $small-size;
    position        : absolute;
    right           : calc(50% - (#{$small-size} / 2));
    top             : calc(50% - (#{$small-size} / 2));
    transform-origin: center center;
    width           : $small-size;
  }

  @keyframes spin-clockwise{

    0%{
      transform: rotate(0deg);
    }

    100%{
      transform: rotate(360deg);
    }

  }

}